* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
}

#box {
  height: 30px;
  width: 200px;
}

#answer {
  cursor: not-allowed;
  border: 2px solid black;
  background-color: rgb(248, 236, 236);
  height: 30px;
  width: 200px;
  text-align: right;
}

#selectbox1,
#selectbox2 {
  width: 200px;
}

#convert,
#reset {
  border: 2px solid black;
  color: white;
  height: 30px;
}

#convert {
  width: 100px;
  background-color: green;
}

#reset {
  width: 80px;
  background-color: red;
}

#convert:hover {
  color: green;
  background-color: white;
}

#reset:hover {
  color: red;
  background-color: white;
}

#Hexbox {
  height: 30px;
  width: 200px;
}
.H-hide {
  display: none;
}
.I-hide {
  display: none;
}
